# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore files in dl dir. Needs for dependencies.
/dl/*
!/dl/.gitkeep

# build dirs
/build
/cmake-build-*

# idea settings
.idea

# vscode settings
.vscode

# OSX specific files
.DS_Store